
@{
    //Layout = null;

    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Index</title>
     <script src="~/Scripts/chart.min.js"></script>
     <script src="~/Scripts/jquery-3.4.1.min.js"></script>
     <script src="~/Scripts/bootstrap.min.js"></script>
     <link href="~/Content/bootstrap.min.css"/>
     <style>
         #chart_container{
             width:400px;
             height:400px;
             border:1px solid #000000;
             padding:1px;
             border-radius:4px;
         }
     </style>
 </head>
<body>
    <div id="chart_container">
    </div>
</body>
</html>


